.page {
    background: cadetblue;
    padding: 10px 10px;
}

.main {
    padding: 20px;
    width: 50%;
    margin: auto;
    color: dimgray;
    background: whitesmoke;
    height: 100%;
}

.header {
    /*background: red;*/
    font-size: 56px;
    margin-bottom: 10px;
}

.header > .code {
    color: orangered;
}

.content {
    font-size: 22px;
}

.additional {
    border: 1px black dotted;
    padding: 20px;
    border-radius: 15px;
    background: white;
    margin-left: 15px;
    margin-top: 30px;
    color: midnightblue;
}

.navback-container {
    text-align: center;

}

.navback {
    margin: 25px auto 5px auto;
    text-decoration: none;
    width: 150px;
    background: dimgray;
    border-radius: 15px;
    color: whitesmoke;
    cursor: pointer;
}