#pywaf-warning {
    width: 100vw;
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.pywaf-warning-banner {
    background:cadetblue;
    color:orangered;
    font-size:18px;
    padding:10px;
}

.pywaf-warning-header {
    color: whitesmoke;
}

.pywaf-warning-dismiss {
    color: orangered;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.pywaf-hidden {
    display: none;
}