<!doctype html>
<html lang="en">
<head>
  <title>PyWAF Content Block</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script>
    function goBack() {
      window.history.back();
    }
    </script>
</head>
<body class=page>
<div class=main>
  <div class=header>PyWAF
    <span class=code>
      &lt;{{ statuscode }}&gt;
    </span>
  </div>
  <div class=content>
    {{ reason }} More Information:

    <div class=additional>
      {{ additional }}
    </div>

    <div class=navback-container>
      <div class=navback onclick="goBack()">
        Go back?
      </div>
    </div>
  </div>
</div>

</body>
</html>