<link rel=stylesheet type=text/css href="{{ url_for('static', filename='warning.css') }}">
<script>
    function closeElem() {
        document.getElementById("pywaf-warning").classList.add("pywaf-hidden")
    }
</script>
<div id=pywaf-warning>
    <div class=pywaf-warning-banner>
        <span class=pywaf-warning-header>
            PyWAF Alert>
        </span>
        <span>
            {{ info }}
        </span>
        <span class=pywaf-warning-dismiss onclick="closeElem()">
            &#10060;
        </span>
    </div>
</div>
